* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    background-color: rgb(86, 114, 206);
    width: 100%;
    height: 6px;
    border: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

a {
    font-size: 1.2rem;
}

#logo {
    width: 15%;
}

#capa {
    width: 64%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article {
    font-size: 1.1rem;
    max-width: 64%;
}

footer {
    display: flex;
    justify-content: center;
}




